<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945112694996-d2957cc6g8mk4i7cfljukffhq2smq97a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945112694996-d2957cc6g8mk4i7cfljukffhq2smq97a</string>
	<key>API_KEY</key>
	<string>AIzaSyAPum5H6NB6AJKrrH6uz8JRg45eBIYd5yo</string>
	<key>GCM_SENDER_ID</key>
	<string>945112694996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.natureOfKyrgyzstan</string>
	<key>PROJECT_ID</key>
	<string>nature-of-kyrgyzstan</string>
	<key>STORAGE_BUCKET</key>
	<string>nature-of-kyrgyzstan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945112694996:ios:271caeb8e5e9ff87fd7b41</string>
</dict>
</plist>